body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-weight: bold;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  

  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    order: -1;
    margin: 15px;
  }

  .emojis {
      display: grid;
      grid-template-areas:
      "one two"
      "three four";
      row-gap: 15px;
      column-gap: 15px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .emoji:nth-child(1) {
      grid-area: one;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .emoji:nth-child(2) {
    grid-area: two;
    display: flex;
    flex-direction: column;
  }

  .emoji:nth-child(3) {
    grid-area: three;
    display: flex;
    flex-direction: column;
  }

  .emoji:nth-child(4) {
    grid-area: four;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
      display: flex;
      justify-content: center;
      order: 0;
  }
